<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weiyi.wx.order.dao.mapper.OrderInfoMapper" >
    <resultMap id="BaseResultMap" type="com.weiyi.wx.order.dao.entity.OrderInfo" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="user_phone" property="userPhone" jdbcType="BIGINT" />
        <result column="store_id" property="storeId" jdbcType="VARCHAR" />
        <result column="food_id" property="foodId" jdbcType="BIGINT" />
        <result column="food_name" property="foodName" jdbcType="VARCHAR" />
        <result column="food_count" property="foodCount" jdbcType="BIGINT" />
        <result column="old_price" property="oldPrice" jdbcType="DOUBLE" />
        <result column="new_price" property="newPrice" jdbcType="DOUBLE" />
        <result column="vip_price" property="vipPrice" jdbcType="DOUBLE" />
        <result column="total_price" property="totalPrice" jdbcType="DOUBLE" />
        <result column="vip_total_price" property="vipTotalPrice" jdbcType="DOUBLE" />
        <result column="real_price " property="realPrice " jdbcType="DOUBLE" />
        <result column="vip_num" property="vipNum" jdbcType="VARCHAR" />
        <result column="order_type" property="orderType" jdbcType="BIGINT" />
        <result column="category" property="category" jdbcType="BIGINT" />
        <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="addOrderInfo" parameterType="com.weiyi.wx.order.dao.entity.OrderInfo">
       INSERT INTO
       		order_info(order_id,user_phone,store_id,food_id,food_name,food_count,old_price,new_price,vip_price,total_price,vip_total_price,real_price,order_type,vip_num,create_time,category)
       	VALUES
       		(#{orderId}, #{userPhone},#{storeId},#{foodId},#{foodName},#{foodCount},#{oldPrice},#{newPrice},#{vipPrice},#{totalPrice},#{vipTotalPrice},#{realPrice},#{orderType},#{vipNum},#{createTime},#{category})
    </insert>

    <select id="queryOrderInfo" parameterType="com.weiyi.wx.order.dao.entity.OrderInfo" resultType="com.weiyi.wx.order.dao.entity.OrderInfo">
        select *
        from order_info
        where user_phone = #{userPhone} and store_id = #{storeId} and order_id = #{orderId}
    </select>
    <select id="queryOrderInfoByStoreId" parameterType="com.weiyi.wx.order.dao.request.GetStoreOrderInfoListRequest" resultType="com.weiyi.wx.order.dao.entity.OrderInfo">
        select *
        from order_info
        <where>
            user_phone = #{userPhone} and store_id = #{storeId}
            <if test="beginTime != null and '' != beginTime and endTime != null and '' != endTime">
                AND create_time between #{beginTime} and #{endTime}
            </if>
        </where>
    </select>
    <select id="queryListCount" parameterType="com.weiyi.wx.order.dao.request.GetStoreOrderListRequest" resultType="int">
        select COUNT(*)
        from store_order
        <where>
            user_phone = #{userPhone} and store_id = #{storeId}
            <if test="tableId != null and tableId != ''">
                AND tableId = #{tableId}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
            <if test="payType != null">
                AND payType = #{payType}
            </if>
            <if test="beginTime != null and '' != beginTime and endTime != null and '' != endTime">
                AND create_time between #{beginTime} and #{endTime}
            </if>
        </where>
    </select>

    <delete id="deleteOrderInfo" parameterType="com.weiyi.wx.order.dao.entity.OrderInfo">
        delete
        from order_info
        <where>
            user_phone = #{userPhone} and order_id = #{orderId} and store_id = #{storeId}
            <if test="foodId != null and foodId != ''">
                AND food_id = #{foodId}
            </if>
            <if test="orderType != null and orderType != ''">
                AND order_type = #{orderType}
            </if>
            <if test="createTime != null and '' != createTime">
                AND create_time = #{createTime}
            </if>
        </where>
    </delete>
    <update id="updateStatusAndRecommend" parameterType="com.weiyi.wx.order.dao.entity.Menu">
        update menu
        <set>
            <if test="recommend != null and recommend != ''">
                recommend = #{recommend},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
        </set>
        where user_phone = #{userPhone} and store_id = #{storeId} and food_id = #{foodId}
    </update>
</mapper>